.card-img-top {
    height: 30vh;
    display: block;
    max-width:100%;
    width: auto;
    object-fit: contain;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 15vh;
    white-space: nowrap
}

.card-body {
    height: 165px;
    background-color: #1F54A9;
    color: white;
}
.card .btn-primary {
    background-color: #FFAB19;
    border-color: #FFAB19; 
}
.card .btn-primary:hover {
    background-color: #CB8D20;
    border-color: #CB8D20; 
}
